# Ignore configuration files that may contain sensitive information.
*.swp
themes/alq/.sass-cache
test/node_modules
test/reports
test/lib
test/*.log

/vendor/
/node_modules/
/.idea
.DS_Store
tmp

package-lock.json