# Ignore configuration files that may contain sensitive information.
*.swp
themes/alq/.sass-cache
test/node_modules
test/reports
test/lib
test/*.log

vendor
/node_modules
# Complidate way to include font-awesome dir.
/themes/alq/node_modules/*
!/themes/alq/node_modules/font-awesome
/themes/alq/node_modules/font-awesome/*
!/themes/alq/node_modules/font-awesome/fonts
# Complidate way to include bootstrap font dir.
!/themes/alq/node_modules/bootstrap-sass
/themes/alq/node_modules/bootstrap-sass/*
!/themes/alq/node_modules/bootstrap-sass/assets
/.idea
.DS_Store
tmp
package-lock.json

variables*
