/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
$header-font: 'Hind', sans-serif;
$header-color: #333;
$text-font: 'Open sans', sans-serif;
$alq-purple: #502e84;
$header-height: 75px;

body {
  font-family: $text-font;
  font-size: 16px;
}

body:not(.front) {
  background: url(../images/small-cow-jumped-on-from-horse.jpg) no-repeat center center fixed #666;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  #region-content {
    padding: 1em;
    width: 80%;
    margin: auto;
    background-color: rgba(255, 255, 255, .9);
    border-radius: 4px;
  }

}

body.front {
  background: url(../images/calf-pulled-by-neck-2.jpg) no-repeat center center fixed #666;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  #page-title {
    display: none;
  }
  #section-content {
    margin-top: 0px;
  }
}

#section-content {
  margin-top: 100px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
  color: $header-color;
}

#zone-branding-wrapper {
  position: fixed;
  width: 100%;
  margin-top: 10px;
  height: $header-height;
  background: rgba(255, 255, 255, 0.6);
  z-index: 1;
  box-shadow: 0px 5px 5px rgba(80, 80, 80, 0.5);
  div.logo-img {
    margin: 0;
    text-align: right;
    img {
      margin-top: 12px;
      max-height: 50px;
    }
  }

  ul {
    list-style-type: none;
    li {
      display: inline-block;
      margin-top: 25px;
      &:before {
        content: "\00b7";
        padding-left: 6px;
        padding-right: 9px;
      }
      &.nobullet:before {
        content: none;
      }
      a {
        font-family: $header-font;
        font-size: 110%;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        color: $header-color;
      }
    }
  }
}

// title - rethink rodeos etc
div.block-6 {
  margin-top: 6em;
  margin-bottom: 2em;
  color: white;
  text-align: center;
  font-size: 200%;
  h1 {
    font-size: 200%;
    color: white;
  }
}

// campaign video
div.block-7 {
  width: 60%;
  padding-top: 1em;
  padding-bottom: 1em;
  margin: auto;
  .content {
    position: relative;
    padding-bottom: 53%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

// intro text - rodeo animals need our help right now
section.block-5,
div.block-4,
div.block-3,
section.block-2,
div.block-1 {
  background-color: rgba(255, 255, 255, 0.8);
  padding-top: 30px;
  padding-bottom: 10px;
  width: 100%;
  margin-bottom: 2em;
  .block-inner {
    width: 80%;
    margin: auto;
    p {
      color: black;
    }
  }
}

section.block-11 {
  h2 {
    color: white;
    font-size: 150%;
  }

  a {
    color: white;
    text-align: center;
    font-size: 130%;
    text-decoration: none;
  }

  div {
    text-align: center;
  }
  width: 100%;
  margin-bottom: 2em;
  .block-inner {
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 5px;
    background-color: $alq-purple;
    width: 80%;
    margin: auto;
  }
}

#section-content {
  div.block-alq-rodeos {
    h2 {
      font-size: 150%;
    }
    background-color: white;
    width: 80%;
    margin: auto;
    margin-bottom: 2em;
    padding: 2em;
    border-radius: 4px;
  }
}

#take-action-images {
  & > div {
    margin-bottom: 10px;
    text-align: center;
  }
}

div.block-1 {
  .block-inner {
    p {
      text-align: center;
    }
  }
}

#donation-form {
  padding-top: 2em;
  padding-bottom: 3em;
  border-radius: 4px;
  color: white;
  font-size: 130%;
  background-color: $alq-purple;
  h2 {
    color: white;
    font-size: 400%;
  }
  button {
    margin-top: 13px;
  }
}

// footer block
#region-footer-second {
  margin-top: 1.5em;
  background-color: #333;
  margin-left: 0;
  margin-right: 0;
  footer {
    width: 80%;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    div {
      color: white;
      font-size: 90%;
      padding-left: 1em;
    }
    div.copyright {
      text-align: right;
    }
    div.images {
      text-align: right;
      img {
        max-height: 50px;
        margin-left: 10px;
      }
    }
    div.social-media {
      text-align: center;
      a {
        font-size: 300%;
        color: white;
        margin-left: 5px;
        margin-right: 5px;
      }
    }
    ul.links {
      margin: 0;
      list-style-type: none;
      & > li {
        text-indent: -5px;
        a {
          color: white;
        }
      }
      & > li:before {
        content: "- ";
        text-indent: -5px;
      }
    }
  }
}

#zone-header {
  strong {
    background-color: rgba(0, 0, 0, 0.5);
    padding-left: 1ex;
    padding-right: 1ex;
  }
}

a.anchor {
  // stop the top padding overlaying other elements
  //z-index: -1;
  padding-top: $header-height;
}

div.viddy {
  width: 50%;
  margin: auto;
  margin-bottom: 1em;
  & > div {
    position: relative;
    padding-bottom: 51%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

#pledge-form {
  h2 {
    text-align: center;
    border-bottom: solid #CCC thin;
  }
  p {
    margin-top: 1em;
    font-weight: bold;
    font-size: 110%;
  }
}

#block-alq-rodeos-alq-rodeos-pledge-count {
  position: absolute;
  background: url(../images/cow-hug.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 140px;
  width: 140px;
  top: 120px;
  right: 75px;
  color: white;
  font-family: $header-font;
  text-align: center;
  font-weight: bold;
  div.content {
    margin-top: 44px;
    //text-shadow: 4px 2px #222;
    #pledge-count {
      font-size: 300%;
      line-height: 30px;
      a {
        color: white;
        text-decoration: none;
      }
    }
    #pledge-count-text {
      font-size: 140%;
      line-height: 21px;
      margin-top: 6px;
    }
  }
}

div.markup {
  font-size: 80%;
}

body.page-node-92 h2 {
  margin-top: 1em;
}

#email-explainer ul {
  margin-left: 20px;
}

// over ride styles on smaller devices
@media only screen and (max-width: 768px) {
  body:not(.front) {
    #region-content {
      width: 90%;
    }
  }
  #block-alq-rodeos-alq-rodeos-pledge-count {
    display: none;
  }
  div.block-6 {
    margin-top: 4em;
    margin-bottom: 1em;
    font-size: 150%;
  }
  div.block-7 {
    width: 90%;
  }
  #zone-branding-wrapper {
    ul {
      li {
        &:before {
          content: "\00b7";
          padding-left: 0px;
          padding-right: 3px;
        }
        &:nth-child(3) {
          display: none;
        }
      }
    }
  }
  #section-content {
    div.block-alq-rodeos {
      width: 100%;
    }
  }
  #region-footer-second {
    footer div.images {
      text-align: center;
    }
  }
  div.viddy {
    width: 90%;
    margin: auto;
    margin-bottom: 1em;
    & > div {
      position: relative;
      padding-bottom: 46%; /* 16:9 */
      padding-top: 25px;
      height: 0;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.nav-tabs li a {
  text-decoration: none;
}
