
body.node-type-page,
body.node-type-media-article,
body.node-type-article {
  div.field-name-field-tags {
    font-weight: bold;
    color: $tags-color;
    margin: 1em 0;

    div.field-items div {
      margin-right: 1ex;
      display: inline-block;

      &:after {
        content: ",";
      }
    }

    div.field-items div:last-child:after {
      content: "";
    }

    margin-bottom: 1ex;
  }
}
