footer.section-footer {
  color: #fff;
  background-color: $alq-purple;
  padding: 2em 1em;

  .zone-wrapper {
    max-width: 960px;
    margin: auto;
  }

  div.region-footer-bottom {
    text-align: center;
    padding: 3em 2em 0 2em;
  }

  @media only screen and (min-width: $header-toggle-width-small) {
    div.region-footer-first {
      width: 55%;
    }

    div.region-footer-second {
      padding: 0;
      width: 40%;

      div {
        text-align: right;
      }
    }
  }

  @media only screen and (max-width: $header-toggle-width-small) {
    div.region-footer-first {
      padding-bottom: 1em;
    }

    div.region-footer-bottom {
      padding: 1em;
    }
  }

  ul.menu {
    li ul {
      display: none;
    }

    li {
      display: inline;
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    li a {
      color: #fff;
      text-decoration: none;
    }

    & > li a {
      border-right: thin solid #fff;
      padding: 0 13px 0 10px;
    }

    & > li:first-child a {
      padding-left: 0;
    }

    & > li:last-child a {
      border: none;
      padding-right: 0;
    }
  }
}
