

/* Email subsctiption form. */
.block-6 {
  padding: 2em;
  display: flex;
  background-blend-mode: multiply, multiply;
  background-image: url('/sites/all/themes/custom/alq/images/email-signup-bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;

  align-items: center;
  justify-content: center;

  .block-inner {
    background-color: $alq-purple;
    h2 {
      color: #fff;
      margin-top: 1rem;
    }

    color: #fff;
    text-align: center;

    form {
      div {
        margin: 1rem;
        font-size: 110%;

        input {
          margin: .5rem 0;
        }
      }
    }
  }
}

// Donate now block.
/* Donate now block */
#block-block-5 {
  padding: 3em;
  text-align: center;

  p {
    color: #f8931d;
    font-size: 150%;
    font-weight: bold;

    a {
      color: white;
      color: #f8931d;

      &.btn {
        @include bold-link(#fff);
      }
    }
  }
}
