

/* Email subsctiption form. */
.block-6 {
  height: 220px;
  display: flex;
  background-blend-mode: multiply, multiply;
  background-image: url('/sites/all/themes/custom/alq/images/stop-animal-cruelty-protest.jpg');
  background-repeat: no-repeat;
  background-position: center center;

  align-items: center;
  justify-content: center;

  .block-inner {
    background-color: rgba(50, 50, 50, 0.95);
    h2 {
      color: #fff;
      margin-top: 1rem;
    }

    color: #fff;
    text-align: center;

    form {
      div {
        margin: 1rem;
        font-size: 110%;

        input {
          height: 35px;
          border: none;
          border-radius: 0;
          padding: 7px;
        }

        input[type=submit] {
          background-color: #fff;
          @include bold-link();
          margin-left: 1rem;
        }
      }
    }
  }
}

// Donate now block.
/* Donate now block */
#block-block-5 {
  padding: 3em;
  text-align: center;

  p {
    color: #f8931d;
    font-size: 150%;
    font-weight: bold;

    a {
      color: white;
      color: #f8931d;

      &.btn {
        @include bold-link(#fff);
      }
    }
  }
}
