// News!


.block-views-news-block {
  margin-bottom: 1em;

  .view-content {

    @media only screen and (min-width: $header-toggle-width-small) {
      display: flex;
      justify-content: space-around;

      .views-row {
        margin: 1em;
        max-width: 300px;

        .views-field-title {
          margin: 1em 0;
          text-align: center;
          a {
            @include bold-link();
          }
        }

        .views-field-view-node {
          margin-top: 1em;
          text-align: center;
        }

        .views-field-field-image {
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    @media only screen and (max-width: $header-toggle-width-small) {
      @include article-list();
    }
  }

  .more-link {
    a {
      font-size: 120%;
      @include bold-link();

      &:hover {
        background-color: #eee;
      }

      &:after {
        content: " \25B6"
      }
    }
  }
}

/* Email subsctiption form. */
.block-6 {
  height: 200px;
  display: flex;
  background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  background-blend-mode: multiply,multiply;

  align-items: center;
  justify-content: center;

  .block-inner {
    h2 {
      color: #fff;
    }

    color: #fff;
    text-align: center;

    form {
      div {
        margin: 1rem;

        input {
          height: 35px;
          border: none;
          border-radius: 0;
          padding: 7px;
        }

        input[type=submit] {
          background-color: #fff;
          @include bold-link();
          margin-left: 1rem;
        }
      }
    }
  }
}
