/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */
@mixin header-image-border {
  border-bottom: solid $alq-purple;
}

header {
  background-color: $header-background-color;
  & > * {
    &.zone-header-wrapper {
      width: 100%;
      margin: 0;

      .region-header-first {
        background-color: $body-background-color;
        margin: 0;

        div {
          width: 100%;
        }
      }
    }
  }

  #block-search-form {
    display: none;
    margin-bottom: 1rem;

    h2 {
      display: none;
    }

    input[type=text] {
      width: 80%;
      margin: 10px auto;
    }

    i {
      color: $social-media-icons-color;
    }

    input[type="submit"] {
      display: none;
    }
  }

  .zone-branding {
    margin-top: 1rem;
    margin-bottom: 1rem;

    @media only screen and (max-width: $header-toggle-width) {
      .responsive-menus.responsified .responsive-menus-simple {
        li.menu-path-search {
          display: none;
        }
      }
    }

    .region-branding-inner {
      display: grid;

      @media only screen and (min-width: $header-toggle-width) {
        grid-template-columns: [logo] 220px 20px [menus] auto;
        grid-template-rows: [social] 50% [navigation] 50%;
      }

      @media only screen and (max-width: $header-toggle-width) {
        grid-template-columns: [logo] 220px 10px [socialcol] auto [menus] 120px;
      }

      grid-gap: 10px;

      .branding-data {
        grid-column: logo;
        @media only screen and (min-width: $header-toggle-width) {
          grid-row: 1 / span 2;
        }

        .logo-img {
          float: none;
          margin: 0;

          img {
            width: 100%;
          }
        }
      }

      // Social block.
      #block-block-2 {
        @media only screen and (max-width: $header-toggle-width-small) {
          display: none;
        }
        @media only screen and (min-width: $header-toggle-width) {
          grid-column: menus;
          grid-row: social;
          .block-inner {
            text-align: right;
          }
        }
        @media only screen and (max-width: $header-toggle-width) {
          grid-column: socialcol;
          align-self: center;
          justify-self: end;
        }

        ul.social-media {
          list-style-type: none;
          padding: 0;
          margin: 0;

          li {
            display: inline;

            @media only screen and (min-width: $header-toggle-width) {
              .menu-path-search {
                display: none;
              }
            }

            i {
              font-size: 220%;
              color: $social-media-icons-color;
            }

            &:last-child {
              a {
                margin-left: 12px;
                @include bold-link(#fff);
              }
            }
          }
        }
      }

      // Navigation block.
      #block-nice-menus-1 {
        grid-column: menus;

        @media only screen and (min-width: $header-toggle-width) {
          grid-row: navigation;
          margin-top: 6px;
        }
        @media only screen and (max-width: $header-toggle-width) {
          align-self: center;
        }

        .block-inner {
          .toggler {
            background-color: unset;
            color: $social-media-icons-color;
            font-size: 200%;
            font-weight: 600;
            box-shadow: none;
            text-align: right;
          }

          /* Header menu */
          .nice-menu {
            width: 100%;
            border: 0;
            background: none;
            display: flex;
            justify-content: space-between;

            // Top menu links.
            & > li {
              a {
                padding: 15px;
                @include bold-link();
              }

            }

            // Make hovered links white with a black background:
            li a:hover {
              background: #dedede;
            }

            // Make the link to the current page that you're on black with yellow text:
            li a.active {
              background: #f6f6f6;
            }

            // Get rid of all borders:
            ul,
            li {
              border: 0;
              background: none;
            }

            // Submenus.
            li.menuparent {
              ul {
                margin-top: 25px;
                background: #fff;

                li {
                  // When touch events are enabled, you can't click on the parent
                  // menu items, so we duplicate them for mobile in the menu.
                  &:first-child {
                    display: none;
                  }

                  @media (pointer: coarse) {
                    &:first-child {
                      display: block;
                    }
                  }

                  background: #fff;

                  a {
                    padding: 10px 15px;
                    text-align: left;
                  }
                }
              }
            }
          }
        }
      }
    }
  }


  #section-home-header {
    margin: 1ex auto;
    width: $grid-width;
    @include header-image-border;

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
}
