/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */
@mixin header-image-border {
  border-bottom: solid $alq-purple;
}

$social-media-icons-color: #888;
$menu-links-color: #333;
$header-toggle-width: 1000px;
$header-toggle-width-small: 700px;

header {
  & > * {
    &.zone-header-wrapper {
      width: 100%;
      margin: 0;

      .region-header-first {
        margin: 0;

        div {
          width: 100%;
        }
      }
    }
  }

  .zone-branding {
    margin-top: 1rem;
    margin-bottom: 1rem;

    .region-branding-inner {
      display: grid;

      @media only screen and (min-width: $header-toggle-width) {
        grid-template-columns: [logo] 220px 20px [menus] auto;
        grid-template-rows: [social] 50% [navigation] 50%;
      }

      @media only screen and (max-width: $header-toggle-width) {
        grid-template-columns: [logo] 220px 10px [socialcol] auto [menus] 120px;
      }

      grid-gap: 10px;

      .branding-data {
        grid-column: logo;
        @media only screen and (min-width: $header-toggle-width) {
          grid-row: 1 / span 2;
        }

        .logo-img {
          float: none;
          margin: 0;

          img {
            width: 100%;
          }
        }
      }

      // Social block.
      #block-block-2 {
        @media only screen and (max-width: $header-toggle-width-small) {
          display: none;
        }
        @media only screen and (min-width: $header-toggle-width) {
          grid-column: menus;
          grid-row: social;
          .block-inner {
            text-align: right;
          }
        }
        @media only screen and (max-width: $header-toggle-width) {
          grid-column: socialcol;
          align-self: center;
          justify-self: end;
        }

        ul.social-media {
          list-style-type: none;
          padding: 0;

          li {
            display: inline;

            i {
              font-size: 30px;
              color: $social-media-icons-color;
            }

            &:last-child {
              a {
                margin-left: 12px;
                font-size: 20px;
                font-weight: 600;
              }
            }
          }
        }
      }

      // Navigation block.
      #block-nice-menus-1 {
        grid-column: menus;

        @media only screen and (min-width: $header-toggle-width) {
          grid-row: navigation;
          margin-top: 6px;
        }
        @media only screen and (max-width: $header-toggle-width) {
          align-self: center;
        }

        .block-inner {
          align-self: end;

          .toggler {
            background-color: unset;
            color: $menu-links-color;
            @media only screen and (max-width: $header-toggle-width) {
              color: $social-media-icons-color;
              margin-bottom: 20px;
            }
            font-size: 30px;
            font-weight: 600;
            box-shadow: none;
            text-align: right;
          }

          /* Header menu */
          .nice-menu {
            width: 100%;
            border: 0;
            background: none;

            // Top menu links.
            & > li {
              width: 20%;
              text-align: center;

              a {
                padding: 15px 0;
                text-decoration: none;
                color: $menu-links-color;
                font-family: $font-family-header;
                font-size: medium;
                font-weight: 600;
              }

            }

            // Make hovered links white with a black background:
            li a:hover {
              background: #dedede;
            }

            // Make the link to the current page that you're on black with yellow text:
            li a.active {
              background: #f6f6f6;
            }

            // Get rid of all borders:
            ul,
            li {
              border: 0;
              background: none;
            }

            // Submenus.
            li.menuparent {
              ul {
                margin-top: 30px;
                background: #fff;

                li {
                  // When touch events are enabled, you can't click on the parent
                  // menu items, so we duplicate them for mobile in the menu.
                  &:first-child {
                    display: none;
                  }

                  @media (pointer: coarse) {
                    &:first-child {
                      display: block;
                    }
                  }

                  background: #fff;

                  a {
                    padding: 10px 15px;
                    text-align: left;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  #section-home-header {
    margin: auto;
    @include header-image-border;

    img {
      max-width: 100% !important;
      height: auto;
      display: block;
    }
  }
}
