// News and media etc.

@mixin article-list {
  .views-row {
    margin: 2em 0;
    display: grid;
    @media only screen and (min-width: $header-toggle-width-small) {
      grid-template-columns: [image] auto [content] 1fr;
      grid-template-rows: [title] auto [body] auto [more] auto;
    }
    @media only screen and (max-width: $header-toggle-width-small) {
      grid-template-columns: [image content] auto;
      grid-template-rows: [image] auto [title] auto [body] auto [more] auto;
      width: 300px;
      margin: 1em auto;
    }
    grid-row-gap: 15px;

    .views-field-field-image {
      grid-column: image;
      @media only screen and (min-width: $header-toggle-width-small) {
        grid-row: 1 / span 3;
        margin-right: 10px;
      }
      @media only screen and (max-width: $header-toggle-width-small) {
        grid-row: image;
      }

      img {
        height: 100%;
        width: 100%;
        max-width: 300px;
        margin: auto;
      }
    }

    .views-field-title {
      grid-column: content;
      grid-row: title;

      a {
        @include bold-link();
      }
    }

    .views-field-body {
      grid-column: content;
      grid-row: body;
    }

    .views-field-view-node {
      grid-column: content;
      grid-row: more;
    }

  }
}

.alq-list {
  @include article-list();
}

#block-views-media-views-block,
#block-views-media-views-block-1 {
  margin: 1em;
}

.block-views-news-block {
  margin-top: 1rem;

  .view-content {
    @media only screen and (min-width: $header-toggle-width-small) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 2em;

      .views-row {
        height: 100%;
        display: grid;
        grid-template-rows: [image] auto [title] auto [body] 1fr [more] 40px;
        grid-row-gap: 1em;

        .views-field-field-image {
          grid-row: image;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .views-field-title {
          grid-row: title;
          text-align: center;

          a {
            @include bold-link();
          }
        }

        .views-field-body {
          grid-row: body;

          span {
            display: block;
          }
        }

        .views-field-view-node {
          grid-row: more;
          align-self: end;
          text-align: center;
        }
      }
    }
    @media only screen and (max-width: $header-toggle-width-small) {
      @include article-list();
    }
  }

  .more-link {
    text-align: center;
    a {
      color: #999;
    }
  }
}

.more-link {
  margin: 1rem 0;

  a {
    font-size: 120%;
    @include bold-link();

    &:hover {
      background-color: #eee;
    }

    &:after {
      content: " \25B6"
    }
  }
}
