body.node-type-product {
  div.main-product-image {
    margin-bottom: 1ex;
  }
}
body.page-catalog {
  ul.pager {
    margin-bottom: 1em;

    li.pager-next,
    li.pager-previous {
      display: none;
    }
  }
}
div.view-uc-catalog-terms {
  div.row {
    margin: auto;
    width: max-content;

    @media only screen and (max-width: 460px) {
      width: 240px;
    }

    .col-sm-6, .col-md-6, .col-lg-6 {
      margin-bottom: 10px;
      margin-right: 10px;
      width: 220px;
    }

    & > div {
      background-color: $alq-purple;
      padding: 0;

      div.views-field-entity-id {
        img {
          border-color: #000;
          border-style: solid;
          border-width: 1px;
        }
      }

      div.views-field-name {
        text-align: center;
        border-color: $alq-purple;
        border-style: solid;
        border-width: 1px;
        height: 100px;

        span {
          a {
            font-size: 30px;
            font-weight: normal;
            text-decoration: none;
            color: #fff;
          }
        }
      }
    }
  }
}

