body.node-type-product {
  div.main-product-image {
    margin-bottom: 1ex;
  }
}
body.page-catalog {
  ul.pager {
    margin-bottom: 1em;

    li.pager-next,
    li.pager-previous {
      display: none;
    }
  }
}
div.view-uc-catalog-terms {
  #views-bootstrap-grid-1 {
    margin-left: 10px;
  }

  div.row {
    .col-sm-6, .col-md-6, .col-lg-6 {
      width: 460px;
      margin: 0 0 10px 10px;
    }

    & > div {
      background-color: $alq-purple;
      padding: 0;

      div.views-field-entity-id {
        width: 220px;

        img {
          border-color: #000;
          border-style: solid;
          border-width: 1px;
        }
      }

      div.views-field-name {
        text-align: center;
        width: 240px;
        height: 220px;
        line-height: 220px;
        border-color: $alq-purple;
        border-style: solid;
        border-width: 1px;

        span {
          display: inline-block;
          vertical-align: middle;
          line-height: normal;

          a {
            font-size: 24pt;
            font-weight: normal;
            text-decoration: none;
            color: #fff;
          }
        }
      }
    }
  }
}

