div.view-slideshow {
  max-width: 1200px;
  margin: auto;

  .slide {
    width: 100%;

    .views-field-field-slideshow-image {
      @include header-image-border();

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
