.views-slideshow-cycle-processed {
  position: relative;
  @include header-image-border();

  .views-slideshow-controls-bottom {
    z-index: 10;
    position: absolute;
    bottom: 5%;
    width: 100%;

    span {
      margin: 1em;
      overflow: hidden;
      color: #fff;
      background-color: rgba(66, 66, 66, 0.6);
      font-weight: bold;
      padding: 1ex;

      &:hover {
        text-decoration: none;
      }

      a {
        text-decoration: none;
        color: #fff;
      }

      &.views-slideshow-controls-text-previous {
        float: left;
        &:before {
          content: "\25C0"
        }
        a {
          padding-left: 1ex;
        }
      }

      &.views-slideshow-controls-text-next {
        float: right;
        &:after {
          content: " \25B6"
        }
        a {
          padding-right: 1ex;
        }
      }
    }
  }
}
