.block-alq-blocks-promo-block .jumbotron {
  margin: 2em 0;
  color: #fff;
  background-size: cover;
  background-position: center center;
  padding: 2em; }
  .block-alq-blocks-promo-block .jumbotron .container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2em;
    width: 90%;
    margin: 5em auto; }
    .block-alq-blocks-promo-block .jumbotron .container h1 {
      color: #fff; }
    .block-alq-blocks-promo-block .jumbotron .container .text p {
      font-size: 110%;
      font-weight: normal; }
    .block-alq-blocks-promo-block .jumbotron .container a.btn {
      font-size: 90%; }
