#donationForm {
    #membershipHeading,
    .membershipOptions {
        display: none;
    }
}

div.requiredLegend {
    text-align: right;
}

div.requiredLegend span {
    color: red;
}

.required label::after {
    color: red;
    content: '\2605';
}

#pp-logo > div {
    text-align: right;
}

#pp-logo img {
    width: 150px;
    margin-top: -14px;
}
