/* Styles for the alq forms */
#donationForm #membershipHeading,
#donationForm .membershipOptions {
  display: none; }

#membershipForm .monthlyOption {
  display: none; }

#amountOtherValue {
  width: 130px; }

div.requiredLegend {
  text-align: right; }

div.requiredLegend span {
  color: red; }

.required label::after {
  color: red;
  content: '\2605'; }

#pp-logo > div {
  text-align: right; }

#pp-logo img {
  width: 150px;
  margin-top: -14px; }

#annual input {
  float: left;
  margin-right: 2px; }
