/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
body {
  font-family: "Open sans", sans-serif;
  font-size: 16px; }

body:not(.front) {
  background: url(../images/small-cow-jumped-on-from-horse.jpg) no-repeat center center fixed #666;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  body:not(.front) #region-content {
    padding: 1em;
    width: 80%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 4px; }

body.front {
  background: url(../images/alq-eliterodeo-townsville-2021-0059.jpg) no-repeat center center fixed #666;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  body.front #page-title {
    display: none; }
  body.front #section-content {
    margin-top: 0px; }

#section-content {
  margin-top: 100px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Hind", sans-serif;
  color: #333; }

#zone-branding-wrapper {
  width: 100%;
  margin-top: 10px;
  height: 75px;
  background: rgba(255, 255, 255, 0.6);
  z-index: 1;
  box-shadow: 0px 5px 5px rgba(80, 80, 80, 0.5); }
  #zone-branding-wrapper div.logo-img {
    margin: 0;
    text-align: right; }
    #zone-branding-wrapper div.logo-img img {
      margin-top: 12px;
      max-height: 50px; }
  #zone-branding-wrapper .main-menu > .first:before {
    content: none; }
  #zone-branding-wrapper ul {
    list-style: none;
    display: block; }
    #zone-branding-wrapper ul li {
      display: block;
      float: left;
      padding-top: 26px;
      padding-bottom: 26px;
      position: relative;
      transition-duration: 1s; }
      #zone-branding-wrapper ul li:hover, #zone-branding-wrapper ul li:focus-within {
        cursor: pointer; }
        #zone-branding-wrapper ul li:hover a, #zone-branding-wrapper ul li:focus-within a {
          outline: none; }
      #zone-branding-wrapper ul li:before {
        content: "\00b7";
        padding-left: 11px;
        padding-right: 9px; }
      #zone-branding-wrapper ul li a {
        font-family: "Hind", sans-serif;
        font-size: 110%;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        color: #333; }
      #zone-branding-wrapper ul li.highlight a {
        color: #8b0000; }
      #zone-branding-wrapper ul li.highlight.mobile {
        display: none; }
      #zone-branding-wrapper ul li ul {
        visibility: hidden;
        opacity: 0;
        min-width: 15rem;
        position: absolute;
        transition: all 1s ease;
        right: 0;
        display: none;
        background: rgba(255, 255, 255, 0.6); }
        @media only screen and (min-width: 700px) {
          #zone-branding-wrapper ul li ul {
            right: auto;
            left: 0; } }
        #zone-branding-wrapper ul li ul li {
          padding-top: 10px;
          padding-bottom: 10px;
          clear: both;
          width: 100%; }
      #zone-branding-wrapper ul li:hover > ul,
      #zone-branding-wrapper ul li:focus-within > ul,
      #zone-branding-wrapper ul li ul:hover,
      #zone-branding-wrapper ul li ul:focus {
        visibility: visible;
        opacity: 1;
        display: block; }

#block-block-6 {
  margin-top: 5em;
  margin-bottom: 2em;
  color: white;
  text-align: center;
  font-size: 150%; }
  #block-block-6 p {
    margin-left: 15%;
    margin-right: 15%; }
  #block-block-6 h1 {
    font-size: 250%;
    color: white; }
  #block-block-6 a {
    color: white; }

#block-block-7 {
  width: 60%;
  padding-top: 1em;
  padding-bottom: 1em;
  margin: auto; }
  #block-block-7 .content {
    position: relative;
    padding-bottom: 53%;
    /* 16:9 */
    padding-top: 25px;
    height: 0; }
    #block-block-7 .content iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }

#block-block-5,
#block-block-4,
#block-block-3,
#block-block-2,
#block-block-1 {
  background-color: rgba(255, 255, 255, 0.8);
  padding-top: 30px;
  padding-bottom: 10px;
  width: 100%;
  margin-bottom: 2em; }
  #block-block-5 .block-inner,
  #block-block-4 .block-inner,
  #block-block-3 .block-inner,
  #block-block-2 .block-inner,
  #block-block-1 .block-inner {
    width: 80%;
    margin: auto; }
    #block-block-5 .block-inner p,
    #block-block-4 .block-inner p,
    #block-block-3 .block-inner p,
    #block-block-2 .block-inner p,
    #block-block-1 .block-inner p {
      color: black; }

#block-block-11 {
  width: 100%;
  margin-bottom: 2em; }
  #block-block-11 h2 {
    color: white;
    font-size: 150%; }
  #block-block-11 a {
    color: white;
    text-align: center;
    font-size: 130%;
    text-decoration: none; }
  #block-block-11 div {
    text-align: center; }
  #block-block-11 .block-inner {
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 5px;
    background-color: #502e84;
    width: 80%;
    margin: auto; }

#section-content #zone-preface-wrapper {
  width: 80%;
  margin: auto; }

#section-content div.block-alq-rodeos {
  background-color: white;
  width: 80%;
  margin: auto;
  margin-bottom: 2em;
  padding: 2em;
  border-radius: 4px; }
  #section-content div.block-alq-rodeos h2 {
    font-size: 150%; }

#take-action-images > div {
  margin-bottom: 10px;
  text-align: center; }

#block-block-1 .block-inner p {
  text-align: center; }

#alq-mps-email-form textarea {
  height: 400px; }

#donation-form {
  padding-top: 2em;
  padding-bottom: 3em;
  border-radius: 4px;
  color: white;
  font-size: 130%;
  background-color: #502e84; }
  #donation-form h2 {
    color: white;
    font-size: 400%; }
  #donation-form button {
    margin-top: 13px; }

#region-footer-second {
  margin-top: 1.5em;
  background-color: #333;
  margin-left: 0;
  margin-right: 0; }
  #region-footer-second footer {
    width: 80%;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em; }
    #region-footer-second footer div {
      color: white;
      font-size: 90%;
      padding-left: 1em; }
    #region-footer-second footer div.copyright {
      text-align: right; }
    #region-footer-second footer div.images {
      text-align: right; }
      #region-footer-second footer div.images img {
        max-height: 50px;
        margin-left: 10px; }
    #region-footer-second footer div.social-media {
      text-align: center; }
      #region-footer-second footer div.social-media a {
        font-size: 300%;
        color: white;
        margin-left: 5px;
        margin-right: 5px; }
    #region-footer-second footer ul.links {
      margin: 0;
      list-style-type: none; }
      #region-footer-second footer ul.links > li {
        text-indent: -5px; }
        #region-footer-second footer ul.links > li a {
          color: white; }
      #region-footer-second footer ul.links > li:before {
        content: "- ";
        text-indent: -5px; }

#zone-header strong {
  background-color: rgba(0, 0, 0, 0.5);
  padding-left: 1ex;
  padding-right: 1ex; }

a.anchor {
  padding-top: 75px; }

div.viddy {
  width: 50%;
  margin: auto;
  margin-bottom: 1em; }
  div.viddy > div {
    position: relative;
    padding-bottom: 51%;
    /* 16:9 */
    padding-top: 25px;
    height: 0; }
    div.viddy > div iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }

#pledge-form h2 {
  text-align: center;
  border-bottom: solid #CCC thin; }

#pledge-form p {
  margin-top: 1em;
  font-weight: bold;
  font-size: 110%; }

#block-alq-rodeos-alq-rodeos-pledge-count {
  position: absolute;
  background: url(../images/cow-hug.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 140px;
  width: 140px;
  top: 120px;
  right: 75px;
  color: white;
  font-family: "Hind", sans-serif;
  text-align: center;
  font-weight: bold; }
  #block-alq-rodeos-alq-rodeos-pledge-count div.content {
    margin-top: 44px; }
    #block-alq-rodeos-alq-rodeos-pledge-count div.content #pledge-count {
      font-size: 250%;
      line-height: 30px; }
      #block-alq-rodeos-alq-rodeos-pledge-count div.content #pledge-count a {
        color: white;
        text-decoration: none; }
    #block-alq-rodeos-alq-rodeos-pledge-count div.content #pledge-count-text {
      font-size: 140%;
      line-height: 21px;
      margin-top: 6px; }

div.markup {
  font-size: 80%; }

body.page-node-92 h2 {
  margin-top: 1em; }

#email-explainer ul {
  margin-left: 20px; }

@media only screen and (max-width: 768px) {
  body:not(.front) #region-content {
    width: 90%; }
  #block-alq-rodeos-alq-rodeos-pledge-count {
    display: none; }
  #block-block-6 {
    margin-top: 4em;
    margin-bottom: 1em;
    font-size: 150%; }
    #block-block-6 p {
      margin-left: 5%;
      margin-right: 5%; }
  #block-block-7 {
    width: 90%; }
  #zone-branding-wrapper ul li:before {
    content: "\00b7";
    padding-left: 0px;
    padding-right: 3px; }
  #zone-branding-wrapper ul li:nth-child(3) {
    display: none; }
  #section-content #zone-preface-wrapper,
  #section-content div.block-alq-rodeos {
    width: 100%; }
  #region-footer-second footer div.images {
    text-align: center; }
  #region-footer-second footer div.copyright {
    text-align: center; }
  div.viddy {
    width: 90%;
    margin: auto;
    margin-bottom: 1em; }
    div.viddy > div {
      position: relative;
      padding-bottom: 46%;
      /* 16:9 */
      padding-top: 25px;
      height: 0; }
      div.viddy > div iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; } }

.nav-tabs li a {
  text-decoration: none; }

div.view-news div.views-row {
  margin-bottom: 2em;
  overflow: auto;
  clear: both; }
  div.view-news div.views-row div.views-field-field-image {
    width: 240px;
    float: left; }
  div.view-news div.views-row a {
    text-decoration: none; }

div.center {
  text-align: center; }
