/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/* line 9, ../scss/global.scss */
body {
  font-family: "Open sans", sans-serif;
  font-size: 16px;
}

/* line 14, ../scss/global.scss */
body:not(.front) {
  background: url(../images/small-cow-jumped-on-from-horse.jpg) no-repeat center center fixed #666;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 21, ../scss/global.scss */
body:not(.front) #region-content {
  padding: 1em;
  width: 80%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
}

/* line 31, ../scss/global.scss */
body.front {
  background: url(../images/calf-pulled-by-neck-2.jpg) no-repeat center center fixed #666;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 37, ../scss/global.scss */
body.front #page-title {
  display: none;
}
/* line 40, ../scss/global.scss */
body.front #section-content {
  margin-top: 0px;
}

/* line 45, ../scss/global.scss */
#section-content {
  margin-top: 100px;
}

/* line 49, ../scss/global.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Hind", sans-serif;
  color: #333;
}

/* line 54, ../scss/global.scss */
#zone-branding-wrapper {
  position: fixed;
  width: 100%;
  margin-top: 10px;
  height: 75px;
  background: rgba(255, 255, 255, 0.6);
  z-index: 1;
  box-shadow: 0px 5px 5px rgba(80, 80, 80, 0.5);
}
/* line 62, ../scss/global.scss */
#zone-branding-wrapper div.logo-img {
  margin: 0;
  text-align: right;
}
/* line 65, ../scss/global.scss */
#zone-branding-wrapper div.logo-img img {
  margin-top: 12px;
  max-height: 50px;
}
/* line 71, ../scss/global.scss */
#zone-branding-wrapper ul {
  list-style-type: none;
}
/* line 73, ../scss/global.scss */
#zone-branding-wrapper ul li {
  display: inline-block;
  margin-top: 25px;
}
/* line 76, ../scss/global.scss */
#zone-branding-wrapper ul li:before {
  content: "\00b7";
  padding-left: 6px;
  padding-right: 9px;
}
/* line 81, ../scss/global.scss */
#zone-branding-wrapper ul li.nobullet:before {
  content: none;
}
/* line 84, ../scss/global.scss */
#zone-branding-wrapper ul li a {
  font-family: "Hind", sans-serif;
  font-size: 110%;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #333;
}

/* line 97, ../scss/global.scss */
#block-block-6 {
  margin-top: 6em;
  margin-bottom: 2em;
  color: white;
  text-align: center;
  font-size: 200%;
}
/* line 103, ../scss/global.scss */
#block-block-6 h1 {
  font-size: 200%;
  color: white;
}

/* line 110, ../scss/global.scss */
#block-block-7 {
  width: 60%;
  padding-top: 1em;
  padding-bottom: 1em;
  margin: auto;
}
/* line 115, ../scss/global.scss */
#block-block-7 .content {
  position: relative;
  padding-bottom: 53%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}
/* line 120, ../scss/global.scss */
#block-block-7 .content iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 131, ../scss/global.scss */
#block-block-5,
#block-block-4,
#block-block-3,
#block-block-2,
#block-block-1 {
  background-color: rgba(255, 255, 255, 0.8);
  padding-top: 30px;
  padding-bottom: 10px;
  width: 100%;
  margin-bottom: 2em;
}
/* line 141, ../scss/global.scss */
#block-block-5 .block-inner,
#block-block-4 .block-inner,
#block-block-3 .block-inner,
#block-block-2 .block-inner,
#block-block-1 .block-inner {
  width: 80%;
  margin: auto;
}
/* line 144, ../scss/global.scss */
#block-block-5 .block-inner p,
#block-block-4 .block-inner p,
#block-block-3 .block-inner p,
#block-block-2 .block-inner p,
#block-block-1 .block-inner p {
  color: black;
}

/* line 150, ../scss/global.scss */
#block-block-11 {
  width: 100%;
  margin-bottom: 2em;
}
/* line 151, ../scss/global.scss */
#block-block-11 h2 {
  color: white;
  font-size: 150%;
}
/* line 156, ../scss/global.scss */
#block-block-11 a {
  color: white;
  text-align: center;
  font-size: 130%;
  text-decoration: none;
}
/* line 163, ../scss/global.scss */
#block-block-11 div {
  text-align: center;
}
/* line 168, ../scss/global.scss */
#block-block-11 .block-inner {
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 5px;
  background-color: #502e84;
  width: 80%;
  margin: auto;
}

/* line 179, ../scss/global.scss */
#section-content div.block-alq-rodeos {
  background-color: white;
  width: 80%;
  margin: auto;
  margin-bottom: 2em;
  padding: 2em;
  border-radius: 4px;
}
/* line 180, ../scss/global.scss */
#section-content div.block-alq-rodeos h2 {
  font-size: 150%;
}

/* line 193, ../scss/global.scss */
#take-action-images > div {
  margin-bottom: 10px;
  text-align: center;
}

/* line 201, ../scss/global.scss */
#block-block-1 .block-inner p {
  text-align: center;
}

/* line 207, ../scss/global.scss */
#donation-form {
  padding-top: 2em;
  padding-bottom: 3em;
  border-radius: 4px;
  color: white;
  font-size: 130%;
  background-color: #502e84;
}
/* line 214, ../scss/global.scss */
#donation-form h2 {
  color: white;
  font-size: 400%;
}
/* line 218, ../scss/global.scss */
#donation-form button {
  margin-top: 13px;
}

/* line 224, ../scss/global.scss */
#region-footer-second {
  margin-top: 1.5em;
  background-color: #333;
  margin-left: 0;
  margin-right: 0;
}
/* line 229, ../scss/global.scss */
#region-footer-second footer {
  width: 80%;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
}
/* line 235, ../scss/global.scss */
#region-footer-second footer div {
  color: white;
  font-size: 90%;
  padding-left: 1em;
}
/* line 240, ../scss/global.scss */
#region-footer-second footer div.copyright {
  text-align: right;
}
/* line 243, ../scss/global.scss */
#region-footer-second footer div.images {
  text-align: right;
}
/* line 245, ../scss/global.scss */
#region-footer-second footer div.images img {
  max-height: 50px;
  margin-left: 10px;
}
/* line 250, ../scss/global.scss */
#region-footer-second footer div.social-media {
  text-align: center;
}
/* line 252, ../scss/global.scss */
#region-footer-second footer div.social-media a {
  font-size: 300%;
  color: white;
  margin-left: 5px;
  margin-right: 5px;
}
/* line 259, ../scss/global.scss */
#region-footer-second footer ul.links {
  margin: 0;
  list-style-type: none;
}
/* line 262, ../scss/global.scss */
#region-footer-second footer ul.links > li {
  text-indent: -5px;
}
/* line 264, ../scss/global.scss */
#region-footer-second footer ul.links > li a {
  color: white;
}
/* line 268, ../scss/global.scss */
#region-footer-second footer ul.links > li:before {
  content: "- ";
  text-indent: -5px;
}

/* line 277, ../scss/global.scss */
#zone-header strong {
  background-color: rgba(0, 0, 0, 0.5);
  padding-left: 1ex;
  padding-right: 1ex;
}

/* line 284, ../scss/global.scss */
a.anchor {
  padding-top: 75px;
}

/* line 290, ../scss/global.scss */
div.viddy {
  width: 50%;
  margin: auto;
  margin-bottom: 1em;
}
/* line 294, ../scss/global.scss */
div.viddy > div {
  position: relative;
  padding-bottom: 51%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}
/* line 299, ../scss/global.scss */
div.viddy > div iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 310, ../scss/global.scss */
#pledge-form h2 {
  text-align: center;
  border-bottom: solid #CCC thin;
}
/* line 314, ../scss/global.scss */
#pledge-form p {
  margin-top: 1em;
  font-weight: bold;
  font-size: 110%;
}

/* line 321, ../scss/global.scss */
#block-alq-rodeos-alq-rodeos-pledge-count {
  position: absolute;
  background: url(../images/cow-hug.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 140px;
  width: 140px;
  top: 120px;
  right: 75px;
  color: white;
  font-family: "Hind", sans-serif;
  text-align: center;
  font-weight: bold;
}
/* line 336, ../scss/global.scss */
#block-alq-rodeos-alq-rodeos-pledge-count div.content {
  margin-top: 44px;
}
/* line 339, ../scss/global.scss */
#block-alq-rodeos-alq-rodeos-pledge-count div.content #pledge-count {
  font-size: 300%;
  line-height: 30px;
}
/* line 342, ../scss/global.scss */
#block-alq-rodeos-alq-rodeos-pledge-count div.content #pledge-count a {
  color: white;
  text-decoration: none;
}
/* line 347, ../scss/global.scss */
#block-alq-rodeos-alq-rodeos-pledge-count div.content #pledge-count-text {
  font-size: 140%;
  line-height: 21px;
  margin-top: 6px;
}

/* line 355, ../scss/global.scss */
div.markup {
  font-size: 80%;
}

/* line 359, ../scss/global.scss */
body.page-node-92 h2 {
  margin-top: 1em;
}

/* line 363, ../scss/global.scss */
#email-explainer ul {
  margin-left: 20px;
}

@media only screen and (max-width: 768px) {
  /* line 370, ../scss/global.scss */
  body:not(.front) #region-content {
    width: 90%;
  }

  /* line 374, ../scss/global.scss */
  #block-alq-rodeos-alq-rodeos-pledge-count {
    display: none;
  }

  /* line 377, ../scss/global.scss */
  #block-block-6 {
    margin-top: 4em;
    margin-bottom: 1em;
    font-size: 150%;
  }

  /* line 382, ../scss/global.scss */
  #block-block-7 {
    width: 90%;
  }

  /* line 388, ../scss/global.scss */
  #zone-branding-wrapper ul li:before {
    content: "\00b7";
    padding-left: 0px;
    padding-right: 3px;
  }
  /* line 393, ../scss/global.scss */
  #zone-branding-wrapper ul li:nth-child(3) {
    display: none;
  }

  /* line 400, ../scss/global.scss */
  #section-content div.block-alq-rodeos {
    width: 100%;
  }

  /* line 405, ../scss/global.scss */
  #region-footer-second footer div.images {
    text-align: center;
  }
  /* line 408, ../scss/global.scss */
  #region-footer-second footer div.copyright {
    text-align: center;
  }

  /* line 412, ../scss/global.scss */
  div.viddy {
    width: 90%;
    margin: auto;
    margin-bottom: 1em;
  }
  /* line 416, ../scss/global.scss */
  div.viddy > div {
    position: relative;
    padding-bottom: 46%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
  }
  /* line 421, ../scss/global.scss */
  div.viddy > div iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
/* line 432, ../scss/global.scss */
.nav-tabs li a {
  text-decoration: none;
}
