/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */

body {
  font-family: Verdana, Geneva, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Verdana, Geneva, sans-serif;
}

.front h1.title {
  display: none;
}

.block-user-menu ul.menu,
.block-user-menu ul.menu,
.block-menu-header-menu ul.menu {
  margin: 0;
  padding: 0;
}

.block-user-menu ul.menu li,
.block-menu-footer-menu ul.menu li,
.block-menu-header-menu ul.menu li {
  display: inline;
  list-style-type: none;
}


.block-menu-header-menu ul.menu {
  background-color: black;
  margin-top: 1ex;
  margin-bottom: 1ex;
}

.block-menu-header-menu ul.menu li a {
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  padding: 5px;
  font-size: 135%;
}

.block-menu-footer-menu ul.menu {
  height: 80px;
  background-color: #AAA;
  margin-top: 1ex;
  margin-bottom: 1ex;
}

.block-menu-footer-menu ul.menu li a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
}

.view-news .views-row {
  margin-bottom: 1em;
}

.view-news .views-field-title a {
  font-size: 19px;
  font-weight: bold;
  color: #666;
  text-decoration: none;
}

.view-news .views-field-field-image {
  float: left;
  margin-right: 1em;
}

.view-news .views-label-field-tags {
  float: left;
  margin-right: 1ex;
  font-weight: bold;
}

.view-slideshow {
  margin-bottom: 1em;
}

.view-slideshow .views-field-title {
  position: absolute;
  top: 230px;
  right: 10px;
  background-color: rgba(66,66,66,0.6);
  padding: 1ex;
}

.view-slideshow .views-field-title a {
  color: #fff;
  font-size: 25px;
  text-decoration: none;
  font-weight: bold;
}

#views_slideshow_controls_text_pause_slideshow-block {
  display: none;
}

#views_slideshow_controls_text_next_slideshow-block, 
#views_slideshow_controls_text_previous_slideshow-block {
  position:absolute;
  top:120px;
  overflow:hidden;
  z-index: 999;
  background-color: rgba(66,66,66,0.6);
  padding: 1ex;
  color: #fff;
  font-size: 20px;
}

#views_slideshow_controls_text_next_slideshow-block a, 
#views_slideshow_controls_text_previous_slideshow-block a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

#views_slideshow_controls_text_previous_slideshow-block {
  left:4px;
}

#views_slideshow_controls_text_previous_slideshow-block a {
  padding-left: 4px;
}
#views_slideshow_controls_text_previous_slideshow-block:before {
  content: "\25C0"
}

#views_slideshow_controls_text_next_slideshow-block {
  right:10px;
}

#views_slideshow_controls_text_next_slideshow-block a {
  padding-right: 4px;
}

#views_slideshow_controls_text_next_slideshow-block:after {
  content: "\25B6"
}

