/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */
/* Global variables */
/* Global mixins */
div.view-uc-catalog-terms div.row .col-sm-6, div.view-uc-catalog-terms div.row .col-md-6, div.view-uc-catalog-terms div.row .col-lg-6 {
  width: 460px; }

div.view-uc-catalog-terms div.row > div div.views-field-entity-id {
  float: left;
  width: 220px; }

div.view-uc-catalog-terms div.row > div div.views-field-name {
  text-align: center;
  float: left;
  width: 240px;
  height: 220px;
  line-height: 220px; }
  div.view-uc-catalog-terms div.row > div div.views-field-name span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal; }
    div.view-uc-catalog-terms div.row > div div.views-field-name span a {
      font-size: 170%; }

#block-block-8 {
  margin: 2em 0 2em 0; }
  #block-block-8 div.content {
    padding: 2em 200px 2em 2em;
    background-image: url("/sites/all/themes/custom/alq/images/goodwill-wines-bg.png"); }
    #block-block-8 div.content h2 {
      margin-top: 2em; }
    #block-block-8 div.content div.wines-picture {
      width: 220px; }
      #block-block-8 div.content div.wines-picture img {
        height: 272px;
        width: 200px; }

body.node-type-product div.content > div.field-name-body {
  margin-left: 42%; }

body.node-type-product div.field-type-image {
  float: left;
  width: 40%; }

body.node-type-product div.add-to-cart {
  margin-left: 42%; }
