/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */

body, h1, h2, h3, h4, h5, h6, p {
  font-family: Arial, Verdana, Geneva, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #502c83;
}

.front h1.title {
  display: none;
}

#region-branding {
  background-color: #ececee;
}

.region-branding-inner {
  padding: 1em;
}

.region-sidebar-first-inner {
  background: url("/sites/all/themes/alq/images/left-bg.jpg");
  padding: 4px;
}

.region-sidebar-first-inner section {
  margin-bottom: 1.5em;
}

/* Social media block */
.block-block-2 {
  position: absolute;
  top: -10px;
  right: 40px;
}

.header-social-media-link {
  display: block;
  float: left;
}

/* Header menu */
.block-nice-menus-1 {
  position: absolute;
  top: 62px;
  right: 40px;
}

ul.nice-menu,
ul.nice-menu ul,
ul.nice-menu li,
ul.nice-menu li a {
  border: 0;
  background-color: #ececee;
  color: #502c83;
  font-weight: bold;
  text-decoration: none;
}

#twitter-link {
  margin-top: 2px;
}

.logo-img {
  margin-left: 40px;
}

.block-user-menu ul.menu {
  margin: 0;
  padding: 0;
}

#zone-footer {
  color: #fff;
  background-color: #502c83;
  height: 60px;
}

.block-menu-footer-menu {
  padding-left: 40px;
  padding-top: 1em;
}

.block-user-menu ul.menu li,
.block-menu-footer-menu ul.menu li {
  display: inline;
  list-style-type: none;
  padding: 0;
}

.block-menu-footer-menu ul.menu {
  margin-top: 1ex;
  margin-bottom: 1ex;
}

.block-menu-footer-menu ul.menu li a {
  color: #fff;
  text-decoration: none;
}

.block-menu-footer-menu ul.menu > li a {
  border-right-style: solid;
  border-right-color: #fff;
  border-right-width: thin;
  padding-right: 10px;
}

.block-menu-footer-menu ul.menu > li:last-child a {
  border: none;
}


.view-news .views-row {
  margin-bottom: 2em;
}

.view-news .views-field-title a {
  font-size: 19px;
  font-weight: bold;
  text-decoration: none;
  color: #502c83;
}

.view-news .views-field-view-node,
.view-news .views-field-body p {
  margin-left: 240px;
}

.view-news .views-field-body p:last-child {
  margin-bottom: 1ex;
}

.view-news .views-field-field-image {
  float: left;
  margin-right: 1em;
  border-color: #AAA;
  border-style: solid;
  border-width: thin;
  border-radius: 4px;
  padding: 3px;
  background-color: #EEE;
}

.view-news .views-field-field-image img {
  border-radius: 4px;
}

.view-news .views-label-field-tags {
  float: left;
  margin-right: 1ex;
  font-weight: bold;
}

#section-home-header,
.view-slideshow {
  border-bottom-color: #502c83;
  border-bottom-style: solid;
  border-bottom-width: 4px;
  margin-bottom: 1em;
}

.view-slideshow .views-field-title {
  position: absolute;
  top: 180px;
  left: 30px;
  background-color: rgba(66,66,66,0.6);
  padding: 1ex;
}

.view-slideshow .views-field-title a {
  color: #fff;
  font-size: 25px;
  text-decoration: none;
  font-weight: bold;
}

.view-slideshow .views-field-view-node {
  position: absolute;
  top: 240px;
  left: 30px;
}

.views-slideshow-controls-text span {
  position:absolute;
  top:300px;
  overflow:hidden;
  z-index: 10;
  background-color: rgba(66,66,66,0.6);
  padding: 5px;
  color: #fff;
  font-size: 15px;
  display: none;
}

.views-slideshow-controls-text span a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

span.views-slideshow-controls-text-previous {
  left:4px;
}

span.views-slideshow-controls-text-previous a {
  padding-left: 6px;
}

span.views-slideshow-controls-text-previous:before {
  content: "\25C0"
}

span.views-slideshow-controls-text-next {
  right:4px;
}

span.views-slideshow-controls-text-next a {
  padding-right: 6px;
}

span.views-slideshow-controls-text-next:after {
  content: "\25B6"
}

/* search form */
#search-block-form .form-submit {
  width: 78px;
  height: 40px;
  background: url("/sites/all/themes/alq/images/search.gif") no-repeat left top;
  text-indent: -9999px;
  border: none;
  margin-top: 2px;
}

#search-block-form input[type=text] {
  width: 204px;
}

/* email subscribe form */
#webform-client-form-114 .form-submit {
  width: 96px;
  height: 43px;
  background: url("/sites/all/themes/alq/images/subscribe.gif") no-repeat left top;
  text-indent: -9999px;
  border: none;
}

#webform-client-form-114 input[type=email] {
  width: 290px;
}

#webform-client-form-114 .form-item {
  margin-bottom: 0;
}

#webform-client-form-114 .form-actions {
  margin-top: 0;
}

select,
input[type=text],
input[type=email] {
  border-color: #CCC;
  border-style: solid;
  border-width: thin;
  border-radius: 3px;
  height: 31px;
}

/* Voiceless box */
#block-block-1 div p {
  text-align: center; 
}

/* Copyright box */
#block-block-3 div p {
  padding-top: 20px; 
}

#section-home-childtree h2 {
  margin-bottom: 5px;
}

#section-home-childtree ul {
  list-style: none;
  margin-left: 3em;
  padding: 0;
}

#section-home-childtree ul li a {
  color: #000;
  text-decoration: none;
  font-size: 130%;
  padding-left: 1em;
}

#section-home-childtree ul li:before {
  content: "\25B6"
}

.node-type-article .field-name-field-intro,
.node-type-section-home .field-name-field-intro {
  font-size: 140%;
  color: #502c83;
  font-style: italic;
}

.node-type-article .field-type-image {
  width: 290px;
  float: right;
  margin: 1em;
  border-color: #AAA;
  border-style: solid;
  border-width: thin;
  border-radius: 4px;
  padding: 3px;
  background-color: #EEE;
}

.node-type-article .field-type-image img {
  width: 100%;
}

/* Donate now block */
.block-block-5,
.block-block-5 a {
  color: #f8931d;
}
.block-block-5 {
  font-size: 200%;
}
