/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */
/* line 3, ../scss/alq-alpha-default-narrow.scss */
.region-branding-inner {
  padding: 1em;
}

/* line 7, ../scss/alq-alpha-default-narrow.scss */
.region-sidebar-first-inner {
  padding: 4px;
}

/* line 11, ../scss/alq-alpha-default-narrow.scss */
.region-sidebar-first-inner section {
  margin-bottom: 1.5em;
}

/* line 15, ../scss/alq-alpha-default-narrow.scss */
.block-facebook-boxes {
  display: inherit;
}

/* Header menu */
/* line 20, ../scss/alq-alpha-default-narrow.scss */
.block-nice-menus-1 {
  position: absolute;
  top: 71px;
  right: 0px;
}

/* line 26, ../scss/alq-alpha-default-narrow.scss */
#twitter-link {
  margin-top: 2px;
}

/* line 30, ../scss/alq-alpha-default-narrow.scss */
#zone-footer {
  height: 60px;
}

/* line 34, ../scss/alq-alpha-default-narrow.scss */
.block-menu-footer-menu {
  padding-left: 40px;
  padding-top: 1em;
}
/* line 37, ../scss/alq-alpha-default-narrow.scss */
.block-menu-footer-menu ul.menu {
  margin-top: 1ex;
  margin-bottom: 1ex;
}
/* line 40, ../scss/alq-alpha-default-narrow.scss */
.block-menu-footer-menu ul.menu > li a {
  padding-right: 10px;
}

/* line 47, ../scss/alq-alpha-default-narrow.scss */
.view-news .views-row {
  margin-bottom: 2em;
}
/* line 49, ../scss/alq-alpha-default-narrow.scss */
.view-news .views-row .views-field-title a {
  font-size: 19px;
}
/* line 53, ../scss/alq-alpha-default-narrow.scss */
.view-news .views-row .views-field-view-node,
.view-news .views-row .views-field-body p {
  margin-left: 240px;
}
/* line 56, ../scss/alq-alpha-default-narrow.scss */
.view-news .views-row .views-field-body p:last-child {
  margin-bottom: 1ex;
}
/* line 59, ../scss/alq-alpha-default-narrow.scss */
.view-news .views-row .views-field-field-image {
  margin-right: 1em;
  border-radius: 4px;
  padding: 3px;
}
/* line 64, ../scss/alq-alpha-default-narrow.scss */
.view-news .views-row .views-field-field-image img {
  border-radius: 4px;
}

/* line 71, ../scss/alq-alpha-default-narrow.scss */
#section-home-header,
.view-slideshow {
  border-bottom-width: 4px;
  margin-bottom: 1em;
}

/* line 76, ../scss/alq-alpha-default-narrow.scss */
#section-home-header img {
  width: 700px;
  height: 120px;
}

/* line 82, ../scss/alq-alpha-default-narrow.scss */
#views_slideshow_cycle_teaser_section_slideshow-block,
.view-slideshow .views-field-field-image img {
  width: 700px !important;
  height: 253px !important;
}

/* line 88, ../scss/alq-alpha-default-narrow.scss */
.view-slideshow .views-field-title {
  top: 140px;
  left: 30px;
  padding: 1ex;
}
/* line 92, ../scss/alq-alpha-default-narrow.scss */
.view-slideshow .views-field-title a {
  font-size: 25px;
}
/* line 96, ../scss/alq-alpha-default-narrow.scss */
.view-slideshow .views-field-view-node {
  top: 200px;
  left: 30px;
  display: inherit;
}

/* line 103, ../scss/alq-alpha-default-narrow.scss */
.views-slideshow-controls-text {
  display: inherit;
}
/* line 105, ../scss/alq-alpha-default-narrow.scss */
.views-slideshow-controls-text span {
  top: 20px;
  padding: 5px;
  font-size: 15px;
}
/* line 109, ../scss/alq-alpha-default-narrow.scss */
.views-slideshow-controls-text span.views-slideshow-controls-text-previous {
  left: 4px;
}
/* line 112, ../scss/alq-alpha-default-narrow.scss */
.views-slideshow-controls-text span.views-slideshow-controls-text-previous a {
  padding-left: 6px;
}
/* line 115, ../scss/alq-alpha-default-narrow.scss */
.views-slideshow-controls-text span.views-slideshow-controls-text-next {
  right: 4px;
}
/* line 118, ../scss/alq-alpha-default-narrow.scss */
.views-slideshow-controls-text span.views-slideshow-controls-text-next a {
  padding-right: 6px;
}

/* search form */
/* line 125, ../scss/alq-alpha-default-narrow.scss */
#block-search-form h2 {
  display: inherit;
}

/* line 129, ../scss/alq-alpha-default-narrow.scss */
#block-search-form input[type=text] {
  width: 210px;
}

/* email subscribe form */
/* line 134, ../scss/alq-alpha-default-narrow.scss */
#mc-embedded-subscribe-form input[type=email] {
  width: 100%;
}

/* line 138, ../scss/alq-alpha-default-narrow.scss */
#block-block-6 h2 {
  display: inherit;
}

/* line 144, ../scss/alq-alpha-default-narrow.scss */
select,
input[type=text],
input[type=email] {
  border-radius: 3px;
  height: 31px;
}

/* Copyright box */
/* line 150, ../scss/alq-alpha-default-narrow.scss */
#block-block-3 div p {
  padding-top: 20px;
}

/* line 155, ../scss/alq-alpha-default-narrow.scss */
#section-home-childtree h2 {
  margin-bottom: 5px;
}
/* line 158, ../scss/alq-alpha-default-narrow.scss */
#section-home-childtree ul {
  margin-left: 3em;
}
/* line 160, ../scss/alq-alpha-default-narrow.scss */
#section-home-childtree ul li a {
  font-size: 130%;
  padding-left: 1em;
}

/* line 168, ../scss/alq-alpha-default-narrow.scss */
.node-type-article .field-name-field-intro,
.node-type-section-home .field-name-field-intro {
  font-size: 140%;
}

/* line 172, ../scss/alq-alpha-default-narrow.scss */
.node-type-article .field-type-image {
  width: 290px;
  margin: 1em;
  border-radius: 4px;
  padding: 3px;
}

/* Donate now block */
/* line 180, ../scss/alq-alpha-default-narrow.scss */
.block-block-5 {
  font-size: 200%;
}

/* Facebook widget, trying to make responsive */
/* line 185, ../scss/alq-alpha-default-narrow.scss */
#block-facebook-boxes-fb-like iframe {
  width: 100% !important;
}

/* line 189, ../scss/alq-alpha-default-narrow.scss */
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
  width: 100% !important;
}
