/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */
/* Social media block */
/* line 5, ../scss/alq-alpha-default-normal.scss */
.block-block-2 {
  top: -10px;
  right: 40px;
}

/* Header menu */
/* line 12, ../scss/alq-alpha-default-normal.scss */
#block-nice-menus-1 {
  top: 62px;
  right: 40px;
  /* don't show home link in reduced mode */
}
/* line 18, ../scss/alq-alpha-default-normal.scss */
#block-nice-menus-1 ul.nice-menu ul,
#block-nice-menus-1 ul.nice-menu li,
#block-nice-menus-1 ul.nice-menu li a {
  font-weight: bold;
}
/* line 23, ../scss/alq-alpha-default-normal.scss */
#block-nice-menus-1 #nice-menu-1 > li.first {
  display: inherit;
}

/* line 28, ../scss/alq-alpha-default-normal.scss */
.logo-img {
  margin-left: 40px;
}

/* line 32, ../scss/alq-alpha-default-normal.scss */
#section-home-header img {
  width: 940px;
  height: 160px;
}

/* line 38, ../scss/alq-alpha-default-normal.scss */
#views_slideshow_cycle_teaser_section_slideshow-block,
.view-slideshow .views-field-field-image img {
  width: 940px !important;
  height: 340px !important;
}

/* line 44, ../scss/alq-alpha-default-normal.scss */
.view-slideshow .views-field-title {
  top: 180px;
}
/* line 47, ../scss/alq-alpha-default-normal.scss */
.view-slideshow .views-field-view-node {
  top: 240px;
}

/* line 52, ../scss/alq-alpha-default-normal.scss */
.views-slideshow-controls-text span {
  top: 300px;
}
