/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */
/* line 18, ../scss/global.scss */
body {
  background-color: white;
}
/* line 23, ../scss/global.scss */
body #zone-branding,
body #zone-header,
body div.zone-content {
  background-color: white;
}
/* line 26, ../scss/global.scss */
body div.logo-img img {
  height: 83px;
  width: 160px;
}

/* line 32, ../scss/global.scss */
body, h1, h2, h3, h4, h5, h6, p {
  font-family: Arial, Verdana, Geneva, sans-serif;
}

/* line 36, ../scss/global.scss */
h1, h2, h3, h4, h5, h6 {
  color: #502c83;
  text-transform: uppercase;
  line-height: 1.2em;
}

/* line 42, ../scss/global.scss */
h1 {
  font-size: 30px;
}

/* line 46, ../scss/global.scss */
.front h1.title {
  font-size: 18px;
  margin-top: 6px;
}

/* line 52, ../scss/global.scss */
h2 {
  font-size: 26px;
}

/* line 56, ../scss/global.scss */
#region-branding {
  background-color: white;
}

/* line 60, ../scss/global.scss */
#instagram-link {
  margin-top: 1px;
}

/* line 64, ../scss/global.scss */
.block-block-2 {
  position: absolute;
  top: 0px;
  right: 10px;
}

/* line 70, ../scss/global.scss */
.header-social-media-link {
  display: block;
  float: left;
}

/* Blocks we won't show on mobile version */
/* line 79, ../scss/global.scss */
#donate-link,
.block-block-5,
.block-block-1,
#block-facebook-boxes-fb-like {
  display: none;
}

/* line 86, ../scss/global.scss */
#facebook-link img,
#twitter-link img,
#instagram-link img {
  margin-right: 2px;
}

/* Header menu */
/* line 92, ../scss/global.scss */
#block-nice-menus-1 {
  position: relative;
}
/* line 97, ../scss/global.scss */
#block-nice-menus-1 ul.nice-menu ul,
#block-nice-menus-1 ul.nice-menu li,
#block-nice-menus-1 ul.nice-menu li a {
  border: 0;
  color: #502c83;
  text-decoration: none;
  padding: 0.3em 2px 0.3em 2px;
}
/* line 104, ../scss/global.scss */
#block-nice-menus-1 ul.nice-menu li.menuparent,
#block-nice-menus-1 ul.nice-menu li {
  background-color: white;
}
/* line 108, ../scss/global.scss */
#block-nice-menus-1 ul.nice-menu li.menuparent a:hover,
#block-nice-menus-1 ul.nice-menu li a:hover {
  background-color: #dddddd;
}
/* line 111, ../scss/global.scss */
#block-nice-menus-1 ul.nice-menu ul {
  display: none !important;
  box-shadow: 2px 1px 2px #666;
}
/* line 116, ../scss/global.scss */
#block-nice-menus-1 ul.nice-menu-down .menuparent a {
  padding-right: 0;
}
/* line 119, ../scss/global.scss */
#block-nice-menus-1 ul.nice-menu-down li.menuparent {
  background-color: white;
  background-image: none;
}
/* line 123, ../scss/global.scss */
#block-nice-menus-1 ul.nice-menu-down li.menuparent:hover {
  background-color: white;
}

/* line 130, ../scss/global.scss */
.responsive-menus.responsified .responsive-menus-simple {
  background-color: #502c83;
}
/* line 133, ../scss/global.scss */
.responsive-menus.responsified span.toggler {
  background-color: white;
  color: #502c83;
  box-shadow: none;
  text-align: right;
  margin-right: 2em;
}

/* line 142, ../scss/global.scss */
.block-user-menu ul.menu {
  margin: 0;
  padding: 0;
}

/* line 147, ../scss/global.scss */
.block-user-menu ul.menu li {
  display: inline;
  list-style-type: none;
  padding: 0;
}

/* line 153, ../scss/global.scss */
#zone-footer {
  color: #fff;
  background-color: #502c83;
}
/* line 156, ../scss/global.scss */
#zone-footer .block-menu-footer-menu ul.menu {
  padding-top: 1em;
  padding-bottom: 1ex;
}
/* line 159, ../scss/global.scss */
#zone-footer .block-menu-footer-menu ul.menu li ul {
  display: none;
}
/* line 162, ../scss/global.scss */
#zone-footer .block-menu-footer-menu ul.menu li {
  display: inline;
  list-style-type: none;
  padding: 0;
}
/* line 167, ../scss/global.scss */
#zone-footer .block-menu-footer-menu ul.menu li a {
  color: #fff;
  text-decoration: none;
}
/* line 171, ../scss/global.scss */
#zone-footer .block-menu-footer-menu ul.menu > li a {
  border-right-style: solid;
  border-right-color: #fff;
  border-right-width: thin;
  padding-right: 10px;
}
/* line 177, ../scss/global.scss */
#zone-footer .block-menu-footer-menu ul.menu > li:last-child a {
  border: none;
}

/* line 183, ../scss/global.scss */
#block-views-news-block {
  margin-bottom: 1em;
}

/* line 190, ../scss/global.scss */
body.page-in-the-news .view-media-views .views-row,
body.page-media-views .view-media-views .views-row,
.view-news .views-row {
  clear: both;
}
/* line 192, ../scss/global.scss */
body.page-in-the-news .view-media-views .views-row .views-field-title a,
body.page-media-views .view-media-views .views-row .views-field-title a,
.view-news .views-row .views-field-title a {
  font-weight: bold;
  text-decoration: none;
  color: #502c83;
  text-transform: uppercase;
  line-height: 1.3em;
  letter-spacing: -0.05em;
}
/* line 200, ../scss/global.scss */
body.page-in-the-news .view-media-views .views-row .views-field-field-image,
body.page-media-views .view-media-views .views-row .views-field-field-image,
.view-news .views-row .views-field-field-image {
  float: left;
  width: 220px;
  height: 100%;
}
/* line 204, ../scss/global.scss */
body.page-in-the-news .view-media-views .views-row .views-field-field-image img,
body.page-media-views .view-media-views .views-row .views-field-field-image img,
.view-news .views-row .views-field-field-image img {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
/* line 209, ../scss/global.scss */
body.page-in-the-news .view-media-views .views-row .field-name-field-tags,
body.page-in-the-news .view-media-views .views-row .views-label-field-tags,
body.page-media-views .view-media-views .views-row .field-name-field-tags,
body.page-media-views .view-media-views .views-row .views-label-field-tags,
.view-news .views-row .field-name-field-tags,
.view-news .views-row .views-label-field-tags {
  float: left;
  margin-right: 1ex;
  font-weight: bold;
}
/* line 214, ../scss/global.scss */
body.page-in-the-news .view-media-views .views-row .views-more-link,
body.page-media-views .view-media-views .views-row .views-more-link,
.view-news .views-row .views-more-link {
  margin-top: 1ex;
}
/* line 218, ../scss/global.scss */
body.page-in-the-news .view-media-views div.more-link,
body.page-media-views .view-media-views div.more-link,
.view-news div.more-link {
  text-align: center;
}
/* line 220, ../scss/global.scss */
body.page-in-the-news .view-media-views div.more-link a,
body.page-media-views .view-media-views div.more-link a,
.view-news div.more-link a {
  font-weight: bold;
  font-size: 150%;
  text-decoration: none;
  color: #502c83;
}
/* line 226, ../scss/global.scss */
body.page-in-the-news .view-media-views div.more-link a:after,
body.page-media-views .view-media-views div.more-link a:after,
.view-news div.more-link a:after {
  content: "\25B6";
}

/* line 237, ../scss/global.scss */
#views_slideshow_cycle_teaser_section_slideshow-block {
  overflow: auto;
}

/* line 241, ../scss/global.scss */
div.view-slideshow .views-field-field-slideshow-image img {
  width: 100% !important;
  height: auto !important;
}

/* line 247, ../scss/global.scss */
span.views-slideshow-controls-text-next,
span.views-slideshow-controls-text-previous {
  text-decoration: none !important;
}

/* line 252, ../scss/global.scss */
.views-slideshow-controls-text,
.view-slideshow .views-field-view-node {
  display: none;
}

/* line 256, ../scss/global.scss */
.view-slideshow {
  border-bottom-color: #502c83;
  border-bottom-style: solid;
  margin-top: 1em;
}
/* line 259, ../scss/global.scss */
.view-slideshow .views-field-title {
  position: absolute;
  background-color: rgba(66, 66, 66, 0.6);
}
/* line 263, ../scss/global.scss */
.view-slideshow .views-field-title a {
  color: #fff;
  text-decoration: none;
}
/* line 267, ../scss/global.scss */
.view-slideshow .views-field-view-node {
  display: none;
  position: absolute;
}
/* line 271, ../scss/global.scss */
.view-slideshow .views-field-title {
  display: none;
  top: 70px;
  left: 10px;
  padding: 2px;
}

/* line 279, ../scss/global.scss */
.views-slideshow-controls-text span {
  position: absolute;
  overflow: hidden;
  z-index: 10;
  background-color: rgba(66, 66, 66, 0.6);
  color: #fff;
  display: none;
}
/* line 286, ../scss/global.scss */
.views-slideshow-controls-text span a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
/* line 291, ../scss/global.scss */
.views-slideshow-controls-text span.views-slideshow-controls-text-previous:before {
  content: "\25C0";
}
/* line 294, ../scss/global.scss */
.views-slideshow-controls-text span.views-slideshow-controls-text-next:after {
  content: "\25B6";
}

/* search form */
/* line 301, ../scss/global.scss */
#block-search-form h2 {
  display: none;
}
/* line 304, ../scss/global.scss */
#block-search-form .form-submit {
  background: url("/sites/all/themes/alq/images/search.gif") no-repeat left top;
  text-indent: -9999px;
  border: none;
  margin-right: 0;
  width: 78px;
  height: 40px;
  margin-top: 2px;
}

/* email subscribe form */
/* line 316, ../scss/global.scss */
#block-block-6 {
  display: none;
  margin-bottom: 0;
}

/* line 321, ../scss/global.scss */
#mc-embedded-subscribe-form input[type=submit] {
  background: url("/sites/all/themes/alq/images/subscribe.gif") no-repeat left top;
  text-indent: -9999px;
  border: none;
  width: 96px;
  height: 43px;
}

/* line 331, ../scss/global.scss */
select,
input[type=text],
input[type=email] {
  border-color: #CCC;
  border-style: solid;
  border-width: thin;
}

/* Voiceless box */
/* line 338, ../scss/global.scss */
#block-block-1 div p {
  text-align: center;
}

/* line 342, ../scss/global.scss */
#section-home-header {
  margin: auto;
  border-bottom-color: #502c83;
  border-bottom-style: solid;
}
/* line 345, ../scss/global.scss */
#section-home-header img {
  max-width: 100% !important;
  height: auto;
  display: block;
}

/* line 353, ../scss/global.scss */
#section-home-childtree h2 {
  display: none;
}
/* line 356, ../scss/global.scss */
#section-home-childtree ul {
  list-style: none;
  padding: 0;
}
/* line 359, ../scss/global.scss */
#section-home-childtree ul li a {
  color: #000;
  text-decoration: none;
  padding-left: 1ex;
}
/* line 364, ../scss/global.scss */
#section-home-childtree ul li:before {
  content: "\25B6";
}

/* line 372, ../scss/global.scss */
body.node-type-media-article .field-name-field-intro,
body.node-type-article .field-name-field-intro,
body.node-type-section-home .field-name-field-intro {
  color: #502c83;
  font-style: italic;
}

/* line 379, ../scss/global.scss */
body.node-type-page .field-type-image,
body.node-type-media-article .field-type-image,
body.node-type-article .field-type-image {
  text-align: center;
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* line 385, ../scss/global.scss */
body.node-type-media-article div.article-date,
body.node-type-article div.article-date {
  font-weight: bold;
  padding-bottom: 1em;
}

/* line 391, ../scss/global.scss */
.page-catalog table:nth-child(1) {
  border: none;
}
/* line 393, ../scss/global.scss */
.page-catalog table:nth-child(1) td {
  text-align: center;
}

/* line 399, ../scss/global.scss */
article div.field-name-field-tags {
  font-weight: bold;
  color: #666666;
  margin-bottom: 1ex;
}
/* line 402, ../scss/global.scss */
article div.field-name-field-tags div.field-items div {
  margin-right: 1ex;
}
/* line 404, ../scss/global.scss */
article div.field-name-field-tags div.field-items div:after {
  content: ",";
}
/* line 408, ../scss/global.scss */
article div.field-name-field-tags div.field-items div:last-child:after {
  content: "";
}

/* line 414, ../scss/global.scss */
body[class*="page-catalog-"] div.region-content-inner {
  padding-top: 0px;
  background: nones;
}

/* Contact us form */
/* line 420, ../scss/global.scss */
body.page-contact ul {
  list-style: none;
}

/* line 425, ../scss/global.scss */
#uc-coupon-form,
#uc-cart-pane-coupon {
  margin-bottom: 1em;
}

/* line 430, ../scss/global.scss */
#block-views-media-views-block,
#block-views-media-views-block-1 {
  margin: 1em;
}
