/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */
/* line 5, ../scss/global.scss */
body {
  background-color: #fff;
}

/* line 9, ../scss/global.scss */
body, h1, h2, h3, h4, h5, h6, p {
  font-family: Arial, Verdana, Geneva, sans-serif;
}

/* line 13, ../scss/global.scss */
h1, h2, h3, h4, h5, h6 {
  color: #502c83;
}

/* line 17, ../scss/global.scss */
.front h1.title {
  display: none;
}

/* line 21, ../scss/global.scss */
#region-branding {
  background-color: #ececee;
}

/* line 25, ../scss/global.scss */
.region-sidebar-first-inner {
  background: url("/sites/all/themes/alq/images/left-bg.jpg");
}

/* line 29, ../scss/global.scss */
.logo-img {
  margin-left: 10px;
}

/* Social media block */
/* line 34, ../scss/global.scss */
.block-block-2 {
  position: absolute;
  top: 0px;
  right: 10px;
}

/* line 40, ../scss/global.scss */
.header-social-media-link {
  display: block;
  float: left;
}

/* line 45, ../scss/global.scss */
.block-facebook-boxes {
  display: none;
}

/* Header menu */
/* line 50, ../scss/global.scss */
.block-nice-menus-1 {
  position: relative;
}

/* don't show home link in reduced mode */
/* line 55, ../scss/global.scss */
#nice-menu-1 > li.first {
  display: none;
}

/* line 62, ../scss/global.scss */
ul.nice-menu,
ul.nice-menu ul,
ul.nice-menu li,
ul.nice-menu li a {
  border: 0;
  background-color: #ececee;
  color: #502c83;
  text-decoration: none;
}

/* line 69, ../scss/global.scss */
.block-user-menu ul.menu {
  margin: 0;
  padding: 0;
}

/* line 74, ../scss/global.scss */
.block-user-menu ul.menu li {
  display: inline;
  list-style-type: none;
  padding: 0;
}

/* line 80, ../scss/global.scss */
#zone-footer {
  color: #fff;
  background-color: #502c83;
}
/* line 84, ../scss/global.scss */
#zone-footer .block-menu-footer-menu ul.menu li ul {
  display: none;
}
/* line 87, ../scss/global.scss */
#zone-footer .block-menu-footer-menu ul.menu li {
  display: inline;
  list-style-type: none;
  padding: 0;
}
/* line 92, ../scss/global.scss */
#zone-footer .block-menu-footer-menu ul.menu li a {
  color: #fff;
  text-decoration: none;
}
/* line 96, ../scss/global.scss */
#zone-footer .block-menu-footer-menu ul.menu > li a {
  border-right-style: solid;
  border-right-color: #fff;
  border-right-width: thin;
}
/* line 101, ../scss/global.scss */
#zone-footer .block-menu-footer-menu ul.menu > li:last-child a {
  border: none;
}

/* line 109, ../scss/global.scss */
.view-news .views-field-title a {
  font-weight: bold;
  text-decoration: none;
  color: #502c83;
}
/* line 114, ../scss/global.scss */
.view-news .views-field-field-image {
  float: left;
  border-color: #AAA;
  border-style: solid;
  border-width: thin;
  background-color: #EEE;
}
/* line 121, ../scss/global.scss */
.view-news .views-label-field-tags {
  float: left;
  margin-right: 1ex;
  font-weight: bold;
}

/* line 130, ../scss/global.scss */
#views_slideshow_cycle_teaser_section_slideshow-block,
.view-slideshow .views-field-field-image img {
  width: 700px !important;
  height: 253px !important;
}

/* line 136, ../scss/global.scss */
.views-slideshow-controls-text,
.view-slideshow .views-field-view-node {
  display: none;
}

/* line 145, ../scss/global.scss */
#section-home-header {
  border-bottom-color: #502c83;
  border-bottom-style: solid;
}

/* line 149, ../scss/global.scss */
.view-slideshow {
  border-bottom-color: #502c83;
  border-bottom-style: solid;
}
/* line 151, ../scss/global.scss */
.view-slideshow .views-field-title {
  position: absolute;
  background-color: rgba(66, 66, 66, 0.6);
}
/* line 155, ../scss/global.scss */
.view-slideshow .views-field-title a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
/* line 160, ../scss/global.scss */
.view-slideshow .views-field-view-node {
  position: absolute;
}
/* line 163, ../scss/global.scss */
.view-slideshow .views-field-title {
  top: 140px;
  left: 30px;
  padding: 1ex;
}

/* line 170, ../scss/global.scss */
.views-slideshow-controls-text span {
  position: absolute;
  overflow: hidden;
  z-index: 10;
  background-color: rgba(66, 66, 66, 0.6);
  color: #fff;
  display: none;
}
/* line 177, ../scss/global.scss */
.views-slideshow-controls-text span a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
/* line 182, ../scss/global.scss */
.views-slideshow-controls-text span.views-slideshow-controls-text-previous:before {
  content: "\25C0";
}
/* line 185, ../scss/global.scss */
.views-slideshow-controls-text span.views-slideshow-controls-text-next:after {
  content: "\25B6";
}

/* search form */
/* line 192, ../scss/global.scss */
#block-search-form h2 {
  display: none;
}
/* line 195, ../scss/global.scss */
#block-search-form .form-submit {
  background: url("/sites/all/themes/alq/images/search.gif") no-repeat left top;
  text-indent: -9999px;
  border: none;
  margin-right: 0;
  width: 78px;
  height: 40px;
  margin-top: 2px;
}

/* email subscribe form */
/* line 207, ../scss/global.scss */
#block-block-6 h2 {
  display: none;
}

/* line 211, ../scss/global.scss */
#mc-embedded-subscribe-form input[type=submit] {
  background: url("/sites/all/themes/alq/images/subscribe.gif") no-repeat left top;
  text-indent: -9999px;
  border: none;
  width: 96px;
  height: 43px;
}

/* line 221, ../scss/global.scss */
select,
input[type=text],
input[type=email] {
  border-color: #CCC;
  border-style: solid;
  border-width: thin;
}

/* Voiceless box */
/* line 228, ../scss/global.scss */
#block-block-1 div p {
  text-align: center;
}

/* line 232, ../scss/global.scss */
#section-home-childtree ul {
  list-style: none;
  padding: 0;
}
/* line 235, ../scss/global.scss */
#section-home-childtree ul li a {
  color: #000;
  text-decoration: none;
}
/* line 239, ../scss/global.scss */
#section-home-childtree ul li:before {
  content: "\25B6";
}

/* line 245, ../scss/global.scss */
.node-type-article .field-name-field-intro,
.node-type-section-home .field-name-field-intro {
  color: #502c83;
  font-style: italic;
}

/* line 250, ../scss/global.scss */
.node-type-article .field-type-image {
  float: right;
  border-color: #AAA;
  border-style: solid;
  border-width: thin;
  background-color: #EEE;
}

/* Donate now block */
/* line 260, ../scss/global.scss */
.block-block-5,
.block-block-5 a {
  color: #f8931d;
}

/* Shop stylings */
/* line 265, ../scss/global.scss */
.page-catalog table {
  border: none;
}
/* line 267, ../scss/global.scss */
.page-catalog table td {
  text-align: center;
}
