/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */
$alq-purple: #502c83;
$header-background-color: #fff;
$body-background-color: #fff;
$menu-hover-color: #ddd;
$tags-color: #666;
$bold-link-color: #333;
$font-family-header: 'Montserrat', sans-serif;
$font-family-body: 'Source Sans Pro', sans-serif;

@mixin bold-link {
  text-decoration: none;
  color: $bold-link-color;
  font-family: $font-family-header;
  font-size: medium;
  font-weight: 600;
}
