/* Global variables */
$alq-purple: #502D82;
$header-background-color: #fff;
$body-background-color: #fff;
$menu-hover-color: #ddd;
$tags-color: #666;
$bold-link-color: #333;
$font-family-header: 'Montserrat', sans-serif;
$font-family-body: 'Source Sans Pro', sans-serif;
$social-media-icons-color: #888;
$header-toggle-width: 1000px;
$header-toggle-width-small: 700px;
$header-toggle-width-very-small: 450px;

/* Global mixins */
@mixin bold-link($color: $bold-link-color) {
  text-decoration: none;
  color: $color;
  font-family: $font-family-header;
  font-size: 105%;
  font-weight: 600;
  font-display: swap;
}
