/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */

.region-branding-inner {
  padding: 1em;
}

.region-sidebar-first {
  margin-right: 10px;
  .region-sidebar-first-inner {
    padding: 4px;
  }

  .region-sidebar-first-inner section {
    margin-bottom: 1.5em;
  }
}

/* Header menu */
#block-nice-menus-1 {
  position: absolute;
  top: 71px;
  right: 0px;
  ul.nice-menu {
    a {
    padding: 0.3em 5px 0.3em 5px
    }
    ul {
    display: inherit !important;
    }
  }
  ul.nice-menu-down .menuparent a {
    padding-right: 15px;
  }
  ul.nice-menu-down li.menuparent {
    background: url("/sites/all/modules/nice_menus/images/arrow-down.png") no-repeat scroll right center;
  }
  ul.nice-menu-down li.menuparent:hover {
    background: url("/sites/all/modules/nice_menus/images/arrow-down.png") no-repeat scroll right center;
  }
  ul.nice-menu-down li li.menuparent {
    background: url("/sites/all/modules/nice_menus/images/arrow-right.png") no-repeat scroll right center;
  }
  ul.nice-menu-down li li.menuparent:hover {
    background: url("/sites/all/modules/nice_menus/images/arrow-right.png") no-repeat scroll right center;
  }
}

#donate-link {
  display: inherit;
}

#zone-footer {
  height: 60px;
}

#zone-content {
  padding-top: 1.5em;
}

.block-menu-footer-menu {
  padding-left: 40px;
  ul.menu {
    margin-top: 1ex;
    margin-bottom: 1ex;
  }
}

.view-news {
  .views-row {
    margin-bottom: 30px;
    overflow: auto;
    .views-row-details {
      margin-left: 220px;
    }
    .views-field-title a {
      font-size: 17px;
    }
    .views-field-body p:last-child {
      margin-bottom: 1ex;
    }
    .views-field-field-image img {
      max-width: 200px;
    }
  }
}

.region-sidebar-first-inner {
  background: url("/sites/all/themes/alq/images/left-bg.jpg");
}

#section-home-header,
.view-slideshow {
  border-bottom-width: 4px;
  margin-bottom: 1em;
  margin-top: 0;
}

#section-home-header {
  width: 700px !important;
  img {
    width: 700px !important;
    height: 120px !important;
  }
}

#views_slideshow_cycle_teaser_section_slideshow-block,
.view-slideshow .views-field-field-image img {
  width: 700px !important;
  height: 253px !important;
}

.view-slideshow {
  .views-field-title {
    top: 140px;
    left: 30px;
    padding: 1ex;
    a {
      font-size: 25px;
    }
  }
  .views-field-view-node {
    top: 200px;
    left: 30px;
    display: none;
  }
}

.views-slideshow-controls-text {
  display: inherit;
  span {
    top:20px;
    padding: 5px;
    font-size: 15px;
    &.views-slideshow-controls-text-previous {
      left:4px;
    }
    &.views-slideshow-controls-text-previous a {
      padding-left: 6px;
    }
    &.views-slideshow-controls-text-next {
      right:4px;
    }
    &.views-slideshow-controls-text-next a {
      padding-right: 6px;
    }
  }
}

/* search form */
#block-search-form h2 {
  display: inherit;
}

#block-search-form input[type=text] {
  width: 100%;
}

/* email subscribe form */
#mc-embedded-subscribe-form input[type=email] {
  width: 100%;
}

#block-block-6 {
  display: inherit;
  div {
    margin-bottom: 1ex;
  }
}

select,
input[type=text],
input[type=email] {
  border-radius: 3px;
  height: 31px;
}

/* Copyright box */
#block-block-3 div p {
  padding-top: 20px; 
}

#section-home-childtree {
  h2 {
    margin-bottom: 5px;
    display: inherit;
  }
  ul {
    margin-left: 1em;
    li a {
      font-size: 130%;
      padding-left: 1em;
    }
  }
}

.node-type-article article .field-name-field-intro,
.node-type-section-home .field-name-field-intro {
  font-size: 140%;
}

.node-type-article article .field-type-image {
  width: 290px;
  margin: 1em;
  border-radius: 4px;
  padding: 3px;
}

/* Voiceless block */
.block-block-1 {
  display: inherit;
}

/* Donate now block */
.block-block-5 {
  display: inherit;
  color: #f8931d;
  font-size: 200%;
  text-transform: uppercase;
  font-weight: bold;
  a {
    color: #f8931d;
  }
}

/* Facebook widget, trying to make responsive */
#block-facebook-boxes-fb-like {
  display: inherit;
  h2 {
    margin-bottom: 4px;
  }
}

.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
    width: 100% !important;
}
