/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */



/* Social media block */
.block-block-2 {
  top: -10px;
  right: 40px;
}


/* Header menu */
.block-nice-menus-1 {
  top: 62px;
  right: 40px;
}

ul.nice-menu,
ul.nice-menu ul,
ul.nice-menu li,
ul.nice-menu li a {
  font-weight: bold;
}

/* don't show home link in reduced mode */
#nice-menu-1 > li.first {
  display: inherit;
}

.logo-img {
  margin-left: 40px;
}

#section-home-header img {
  width: 940px;
  height: 160px;
}

#views_slideshow_cycle_teaser_section_slideshow-block,
.view-slideshow .views-field-field-image img {
  width: 940px !important;
  height: 340px !important;
}



.view-slideshow .views-field-title {
  top: 180px;
}

.view-slideshow .views-field-view-node {
  top: 240px;
}

.views-slideshow-controls-text span {
  top:300px;
}

