/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */

@import "variables";
@import "sections/articles-pages";
@import "sections/contact";
@import "sections/footer";
@import "sections/front";
@import "sections/header";
@import "sections/news-media";
@import "sections/shop";
@import "sections/slideshow";

body {
  background-color: $body-background-color;
  font-family: $font-family-body;
  font-size: 18px;

  // Bug, remove when admin menu > 3.0-rc6.
  #admin-menu {
    height: auto;
  }

  // Not sure why bootstrap flat doesn't do this.
  .btn {
    background-image: none;
  }

  &.front {
    h1.title {
      display: none;
    }
  }

  // This is where most of the stuff should be.
  .page {
    h1, h2, h3, h4, h5, h6 {
      font-family: $font-family-header;
      color: $alq-purple;
    }

    small {
      font-size: 80%;
    }

    a.btn:link,
    a.btn:visited {
      text-decoration: none;
      color: #fff;

      &.btn-default {
        color: #000;
      }
    }

    div.breadcrumb {
      padding: 0.5rem 0 0.5rem;
      margin-bottom: 0;
      background-color: $body-background-color;
    }

    ul.ui-autocomplete {
      list-style: none;
    }

    select,
    input[type=text],
    input[type=email] {
      border: thin solid #ccc;
    }
  }
}

#block-addtoany-addtoany-button {
  margin-bottom: 1em;
  text-align: right;
}

#block-alq-mps-alq-mps-email-campaign-stats {
  margin-top: 1em;
}
