/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */

@import "variables";
@import "sections/footer";
@import "sections/front";
@import "sections/header";
@import "sections/lists";
@import "sections/shop";
@import "sections/slideshow";

body {
  background-color: $body-background-color;
  font-family: $font-family-body;
  font-size: 18px;

  // Bug, remove when admin menu > 3.0-rc6.
  #admin-menu {
    height: auto;
  }

  // Not sure why bootstrap flat doesn't do this.
  .btn {
    background-image: none;
  }

  &.front {
    h1.title {
      display: none;
    }
  }

  // This is where most of the stuff should be.
  .page {
    h1, h2, h3, h4, h5, h6 {
      font-family: $font-family-header;
      color: $alq-purple;
      line-height: 1.2em;
    }

    small {
      font-size: 80%;
    }

    a.btn:link,
    a.btn:visited {
      text-decoration: none;
      color: #fff;

      &.btn-default {
        color: #000;
      }
    }

    div.breadcrumb {
      padding: 0.5rem 0 0.5rem;
      margin-bottom: 0;
      background-color: $body-background-color;
    }

    ul.ui-autocomplete {
      list-style: none;
    }

    select,
    input[type=text],
    input[type=email] {
      border: thin solid #ccc;
    }
  }
}


body.node-type-page .field-type-image,
body.node-type-media-article .field-type-image,
body.node-type-article .field-type-image {
  text-align: center;
}

body.node-type-media-article div.article-date,
body.node-type-article div.article-date {
  font-weight: bold;
  padding-bottom: 1em;
}

article div.field-name-field-tags {
  font-weight: bold;
  color: $tags-color;

  div.field-items div {
    margin-right: 1ex;

    &:after {
      content: ",";
    }
  }

  div.field-items div:last-child:after {
    content: "";
  }

  margin-bottom: 1ex;
}

/* Contact us form */
body.page-contact ul {
  list-style: none;
}

#block-views-media-views-block,
#block-views-media-views-block-1 {
  margin: 1em;
}

#block-addtoany-addtoany-button {
  margin-bottom: 1em;
}

#block-alq-mps-alq-mps-email-campaign-stats {
  margin-top: 1em;
}
